
{{!-- algo importante nosotros ya no tenemos que volver a pintar el error o volver a empezar a 
    recorrer el error en la vista de /users/signup porque nosotros habiamos escrito en /notes/new-note
    al momento de agregar una nueva nota habia escrito un mensaje para un error entonces voy a crear 
    un partials con este codigo. entonces voy a cortarlo y voy a colocarlo en /partials/errors --}}

{{#each errors}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/each}}