<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Note App</title>
    <!-- BOOTSTRAP 4 -->
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
      <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    
  <p>Navigation</p>
    <!-- main es una etiqueta que define el contenido principal de la aplicacion 
    tambien le vamos a colocar una clase de bootstrap que se llama container-->
    <main class="container p-5">
      {{{ body }}}
    </main>

  <p>Footer</p>

</body>
</html>
