<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Note App</title>
    <!-- BOOTSTRAP 4 -->
    {{!-- este es el bootstap css --}}
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
    {{!-- FONT AWESOME este CDN me permite poder obtener iconos --}}
    <link 
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt88:12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S
      +L38lXeVIU" crossorigin="anonymous">
      <!-- CUSTOM CSS 
      la carpeta public es conocida por el servidor por la linea de codigo que tenemos en index.js
      por eso no es necesario usar "public/css/main.css"-->
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    
  <p>Navigation</p>
    <!-- main es una etiqueta que define el contenido principal de la aplicacion 
    tambien le vamos a colocar una clase de bootstrap que se llama container-->
    <main class="container">
      {{!-- de messages.hbs venemos aqui y vamos a llamar dentro del contenedor y arriba con un partials, 
      como llamamos un partials, entre llaves y un signo de mayor y luego el nombre de partials que se llama 
      messages no necesitamos colocar el nombre de la carpeta porque ya lo habiamos configurado cuando 
      empezamos a definir como se iba comportar handlebars ya conoce la direccion de partials 
      esto esta in index.js en la section de settings --}}
      {{> messages }}
      {{!-- aqui vamos a hacer lo mismo con los errors vamos a colocar el partials llamado errors --}}
      {{> errors }}
      {{{ body }}}
    </main>

  <p>Footer</p>
  {{!-- este es el bootstrap javascript --}}
  {{!-- javascript scripts for bootstrap --}}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
